@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 25% 98%;
    --foreground: 234 10% 37%;
    --muted: 210 12% 90%;
    --muted-foreground: 210 12% 30%;
    --popover: 210 25% 95%;
    --popover-foreground: 234 10% 27%;
    --card: 210 25% 96%;
    --card-foreground: 234 10% 32%;
    --border: 210 15% 93%;
    --input: 210 15% 90%;
    --primary: 140 59% 43%;
    --primary-foreground: 0 0% 100%;
    --secondary: 140 30% 75%;
    --secondary-foreground: 140 30% 15%;
    --accent: 210 25% 83%;
    --accent-foreground: 210 25% 23%;
    --destructive: 8 93% 44%;
    --destructive-foreground: 0 0% 100%;
    --ring: 140 59% 43%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 25% 98%;
    --foreground: 234 10% 37%;
    --muted: 210 12% 90%;
    --muted-foreground: 210 12% 30%;
    --popover: 210 25% 95%;
    --popover-foreground: 234 10% 27%;
    --card: 210 25% 96%;
    --card-foreground: 234 10% 32%;
    --border: 210 15% 93%;
    --input: 210 15% 90%;
    --primary: 140 59% 43%;
    --primary-foreground: 0 0% 100%;
    --secondary: 140 30% 75%;
    --secondary-foreground: 140 30% 15%;
    --accent: 210 25% 83%;
    --accent-foreground: 210 25% 23%;
    --destructive: 8 93% 44%;
    --destructive-foreground: 0 0% 100%;
    --ring: 140 59% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
